@media (max-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

body{
  background-color: #f2f2f2;
}
header{
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
.content{
  background-color: #fff;
  border: 1px solid #ddd;
  padding:20px 10px;
}
.content img{
  max-width:100% !important;
}
.postheader{
  height: 300px;
  position: relative;
}
.backpost{
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}
.backpost>h3{
  position: absolute;
  bottom: 0;
  text-shadow: 0px 1px 4px #000;
}