{% load static %}
<div class="card">
    <div class="card-header">Hello</div>
    <figure class="figure float-left card-body">
        <img src="{% static 'blog/img/头像.jpg' %}" alt="头像" class="img-fluid rounded" style="width:35%;">
        <figcaption class="figure-caption">{{user.username}}</figcaption>
    </figure>
    <p>这是什么</p>
</div>
<h5>文章分类</h5>
<p style="line-height: 2rem;">
{% for category in CategoryList %}
<a href="." class="btn btn-light">{{category.name}}</a>
{% endfor %}
</p>
<h5>标签</h5>
<p style="line-height: 2rem;">
{% for category in CategoryList %}
<a href="." class="btn btn-light">{{category.name}}</a>
{% endfor %}
</p>