{% extends "blog/layout.html" %}
{% load static %}
{% block content %}
<div class="content">
<p class="text-primary">Tag:{{tag.name}}</p>
{% for article in ArticleList %}
<hr style="border: 0.5px dotted black;">
<article>
    <span><a href="{% url 'showPost' article.id %}">{{article.title}}</a></span>
    <span class="info" style="float: right;"><small><author><a href="">{{article.author.username}}</a></author><span> • </span><time>{{article.createTime}}</time></small>
    </span>
</article>
{% endfor %}
</div>
<!-- 分页 -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" id="FrontPage">
        <a class="page-link" href="#" tabindex="-1">上一页</a>
      </li>
      {% for page in PageCountList %}
      <li id="{{page}}" class="page-item"><a class="page-link" href="./?page={{page}}">{{page}}</a></li>
      {% endfor %}
      <li class="page-item" id="BackPage">
        <a class="page-link" href="#">下一页</a>
      </li>
    </ul>
</nav>
<script>
    var ActivePage=parseInt("{{ActivePage}}");
    var TotalPage=parseInt("{{PageCount}}");
    var ActiveCate=parseInt("{{CategoryId}}");
</script>
<script src="{% static 'blog/js/main.js' %}"></script>
{% endblock %}