<!DOCTYPE html>
<html lang="zh">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'blog/img/favicon.ico' %}" rel="icon" type="image/x-ico">
    <!-- 静态资源引用 -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap相关js文件 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.4.0/umd/popper.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>阿星的小站</title>
</head>
<body>
    <footer class="text-center">
        {% include "blog/footer.html" %}
    </footer>
</body>