{% extends "admin/admin.html" %}
{% block content %}
{% load static %}
{% if user == author %}
<script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
<div>
    <h2 class="text-primary">{{文章编辑}}</h2>
    <hr>
    <form action="article_save/" method="post">
        {% csrf_token %}
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">标题</span>
            </div>
            <input type="text" name="title" id="title" class="form-control" value="{{title}}" placeholder="文章标题">
        </div>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">分类</span>
            </div>
            <select class="form-control custom-select" id="category" name="category">
                {% for cate in category_list %}
                <option value="{{cate.name}}">{{cate.name}}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">封面外链地址</span>
            </div>
            <input type="url" name="cover" id="cover" class="form-control" value="{{cover}}">
        </div>
        <br>
        <textarea name="editor">{{body|safe}}</textarea>
        <br>
        <div class="input-group" id="article_tag">
            <div class="input-group-prepend">
                <span class="input-group-text">标签：</span>
            </div>
            <input type="text" id="tag_name" class="form-control">
            <div class="input-group-append">
                <button class="btn btn-outline-success" type="button" onclick="add_tag()"><i
                        class="fas fa-plus"></i></button>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
        <script>
            // form标签内部一些事务处理
            CKEDITOR.replace('editor', { 'height': '550px' });
            $('#category option').each(function () {
                var val = $(this).val();
                if (val == "{{category}}") {
                    $(this).attr("selected", "selected");
                }
            })
            // 文章标签添加按钮，纯js实现安全不保障
            function add_tag() {
                var tag_value = $("#tag_name").val();
                $("#article_tag").after(
                    "<br><div class='btn-group btn-group-sm' role='group'>\
                        <button type='button' class='btn btn-secondary' disabled>"+tag_value+"</button>\
                        <button type='button' class='btn btn-danger' onclick='del_tag'><i\
                        class='fas fa-minus'></i></button >\
                    </div>"
                );
            }
            // 删除标签
            function del_tag() {
                $(this).remove();
            }
        </script>
    </form>
</div>
{% else %}
不是文章作者，请登录文章作者后编辑！
{% endif %}
<script>
    $("#action_article").addClass("active");
</script>
{% endblock %}