.logo{
    max-width: 400px;
    margin: 20% auto 0;
}
@media screen and (min-width: 480px){
    header{
        margin-bottom: 1.5rem;
    }
}
#page_container{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 2rem 1.5rem;
}